@media screen and (min-width: 768px) {
  .bg-img {
    height: 80%;
    width: 300px;
    /* background-image: url('/img/gundamcat.png'); */
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
    position: absolute;
    top: 50vh;
  }
}

@media screen and (max-width: 767px) {
  .bg-img {
    background-image: none !important;
  }
}